<%- partial('partials/_top_of_page') %>
<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <title><%- partial('partials/_page_title') %></title>

    <!--[if gt IE 8]><!--><link href="<%= govukTemplateAssetPath %>stylesheets/govuk-template.css?0.17.1" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="<%= govukTemplateAssetPath %>stylesheets/govuk-template-ie6.css?0.17.1" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="<%= govukTemplateAssetPath %>stylesheets/govuk-template-ie7.css?0.17.1" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="<%= govukTemplateAssetPath %>stylesheets/govuk-template-ie8.css?0.17.1" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <link href="<%= govukTemplateAssetPath %>stylesheets/govuk-template-print.css?0.17.1" media="print" rel="stylesheet" type="text/css" />

    <!--[if IE 8]>
    <script>
      (function(){if(window.opera){return;}
       setTimeout(function(){var a=document,g,b={families:(g=
       ["nta"]),urls:["<%= govukTemplateAssetPath %>stylesheets/fonts-ie8.css?0.17.1"]},
       c="<%= govukTemplateAssetPath %>javascripts/vendor/goog/webfont-debug.js?0.17.1",d="script",
       e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
       ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
       .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->
    <!--[if gte IE 9]><!--><link href="<%= govukTemplateAssetPath %>stylesheets/fonts.css?0.17.1" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="<%= govukTemplateAssetPath %>javascripts/ie.js?0.17.1"></script><![endif]-->

    <link rel="shortcut icon" href="<%= govukTemplateAssetPath %>images/favicon.ico?0.17.1" type="image/x-icon" />
    <link rel="mask-icon" href="<%= govukTemplateAssetPath %>images/gov.uk_logotype_crown.svg?0.17.1" color="#0b0c0c">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= govukTemplateAssetPath %>images/apple-touch-icon-152x152.png?0.17.1">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= govukTemplateAssetPath %>images/apple-touch-icon-120x120.png?0.17.1">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="<%= govukTemplateAssetPath %>images/apple-touch-icon-76x76.png?0.17.1">
    <link rel="apple-touch-icon-precomposed" href="<%= govukTemplateAssetPath %>images/apple-touch-icon-60x60.png?0.17.1">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="<%= govukTemplateAssetPath %>images/opengraph-image.png?0.17.1">

    <%- partial('partials/_head') %>
  </head>

  <body class="<%= bodyClasses %>">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <%- partial('partials/_body_start') %>

    <div id="skiplink-container">
      <div>
      </div>
    </div>

    <div id="global-cookie-message">

        <%- partial('partials/_cookie_message') %>

    </div>


    <header role="banner" id="global-header" class="<% if (headerClass) { %><%= headerClass %><% } %>">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
              <img src="<%= govukTemplateAssetPath %>images/gov.uk_logotype_crown_invert_trans.png?0.17.1" width="35" height="31" alt=""> <% if (globalHeaderText) { %><%= globalHeaderText %><% } %>
            </a>
          </div>
          <%- partial('partials/_inside_header') %>
        </div>
        <%- partial('partials/_proposition_header') %>
      </div>
    </header>


    <%- partial('partials/_after_header') %>

    <div id="global-header-bar"></div>
    <%# todo: body is not visible in _content partial%>
    <%//- partial('partials/_content') %>
    <%- body %>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
        <%- partial('partials/_footer_top') %>

        <div class="footer-meta">
          <div class="footer-meta-inner">
            <%- partial('partials/_footer_support_links') %>

            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>

                <%- partial('partials/_licence_message') %>

            </div>
          </div>

          <div class="copyright">
            <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/"><% if (crownCopyrightMessage) { %><%= crownCopyrightMessage %><% } else { %>&copy; Crown copyright<% } %></a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="<%= govukTemplateAssetPath %>javascripts/govuk-template.js?0.17.1"></script>

    <%- partial('partials/_body_end') %>
  </body>
</html>
